set number relativenumber
set idearefactormode=keep
set ideajoin

set hlsearch
set autoindent
let mapleader = " "

nnoremap <Esc><Esc> :nohlsearch<CR>
nnoremap <leader>o o<Esc>
nnoremap <leader>O O<Esc>

nnoremap <leader>v :vsplit<CR>
nnoremap <leader>s :split<CR>

nnoremap <leader>h :action PreviousTab<CR>
nnoremap <leader>l :action NextTab<CR>
nnoremap <leader>bd :action CloseEditor<CR>
nnoremap <leader>/ :action ShowErrorDescription<CR>
nnoremap <leader>e :action GoToNextError<CR>
nnoremap <leader>i :action Generate<CR>


nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi


nmap <leader>cy "*y
nmap <leader>cp "*p
nmap <leader>p "_dp
nmap <leader>P "_dP
vmap <leader>cy "*y
vmap <leader>cp "*p
vmap <leader>p "_dp
vmap <leader>P "_dP

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


